.tbl-summary {
  word-wrap: break-word;
  max-width: 120px !important;
}

.tbl-issuetype {
  min-width: 70px;
  max-width: 70px;
  padding-right: 15px;
}

table {
  border: 0px solid gray;
}

.div-tbl {
  height: 100vh;
}

.ptext {
  font-size: 15px;
}

.flag-color-red {
  background-color: red;
  border: 1px solid brown;
}

.flag-color-green {
  background-color: green;
  border: 1px solid darkgreen;
}

.flag-color-purple {
  background-color: rebeccapurple;
  border: 1px solid purple;
}

.overrun {
  width: 30px;
}

.select-proj {
  margin-top: 12px !important;
  width: 180px;
}
